.main {
  align-items: center;
  min-height: 100vh;
  height: 676px;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
  background: center / cover no-repeat url('/home_background.png');
}

.first {
  background-position: 0% 0%;
}

.second {
  background-position: 100% 0%;
}

.logo {
  animation: entranceAnim 1s cubic-bezier(0, 0.55, 0.45, 1) 0s 1 normal forwards;
  width: 100%;
  height: min-content;
  max-width: 470px;
}

.header {
  background: linear-gradient(to bottom, #000000 0%, #000000e6 10%, #00000000 80%);
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.bottom {
  background: linear-gradient(to top, #000000 0%, #000000e6 10%, #00000000 50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 40px;
}

.buttonHome {
  height: 48px;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #ffffff;
  animation: entranceAnim 1s cubic-bezier(0, 0.55, 0.45, 1) 0s 1 normal forwards;
}

.buttonChangeForm {
  color: white;
  font-size: 18px;
  height: max-content;
  font-family: "Quicksand", sans-serif;
  text-transform: none;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
  animation: entranceAnim 1s cubic-bezier(0, 0.55, 0.45, 1) 0s 1 normal forwards;
}

.formContainer {
  background: linear-gradient(to left, #000000 0%, #000000e6 40%, #00000000 100%);
  height: 100%;
  min-height: 676px;
  width: 30vw;
  min-width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 40px 40px;
  animation: entranceAnim 1s cubic-bezier(0, 0.55, 0.45, 1) 0s 1 normal forwards;
}

.form {
  width: 100%;
  max-width: 450px;
  min-width: 290px;
  padding-top: 50px;
  animation: entranceAnim 1s cubic-bezier(0, 0.55, 0.45, 1) 0s 1 normal forwards;
}

.input {
  background: white;
  border-radius: 4px;
}

.buttonForm {
  height: 48px;
  font-size: 18px;
  text-transform: none;
}

.buttonTextForm {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: none;
  justify-content: start;
  width: max-content;
}

@keyframes entranceAnim {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Mobile */
@media (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-position 0.5s ease-in-out;
  }

  .formContainer {
    background: linear-gradient(to top, #000000 0%, #000000e6 10%, #00000000 50%);
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .form {
    max-width: 350px;
    width: 100%;
    padding-top: 50px;
  }
}
